<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Colonnel's Bakery</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Colonnel world of candies</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li><a href="Home.html">Welcome</a></li>
                        <li><a href="About.html">About Us</a></li>
                          <li><a href="Prices.html">Prices</a></li>
                            <li><a href="Store.html">our Store</a></li>
                              <li><a href="contact.html">Contact Us</a></li>
                              <li><a href="FAQ.html">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Menu</h1>
                <p class="lead">Please place an order</p>
                <p>Home made</p>
                <h2>Welcome to Colonnel's Bakery</h2>
                  <p>Select your entrees from the menu below.</p>
                      <table id="menuTable" border="1" class="indent">
                         <thead>
                            <tr>
                              <th colspan="3">Colonnel Bakery</th>
                            </tr>
                            <tr>
                            <th>Select</th>
                             <th>Item</th>
                                 <th>Price</th>
                            </tr>   
                          </thead>
         <tbody>
            <tr>
               <td colspan="3">ICE_CREAM</td>
            </tr>
            <tr>
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Vanilla</td>
               <td align="right">5.00</td>
            </tr>
            <tr>
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Pistachio</td>
               <td align="right">3.60</td>
            </tr>
            <tr>
               <td colspan="3">DESSERT</td>
            </tr>
            <tr>
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Cherry</td>
               <td align="right">6.50</td>
            </tr>
            <tr>
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Brownie</td>
               <td align="right">3.60</td>
            </tr>
            <tr>
               <td colspan="3">DONUTS</td>
            </tr>
            <tr>
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>chocolate</td>
               <td align="right">3.60</td>
            </tr>
            <tr>
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Vanilla</td>
               <td align="right">5.50</td>
            </tr>
            <tr>
               <td colspan="3">CONFECTIONERY</td>
            </tr>
            <tr>
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Cookies</td>
               <td align="right">3.60</td>
            </tr>
            <tr>
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Candies</td>
               <td align="right">7.00</td>
            </tr>
            <tr>
               <td colspan="3">CUPCAKES</td>
            </tr>
            <tr>
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>chocolate</td>
               <td align="right">3.60</td>
            </tr>
            <tr>
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Berry</td>
               <td align="right">5.00</td>
            </tr>
         </tbody>
      </table>
      <form class="indent">
         <p><input type="button" name="btnCalcBill" value="Calculate Bill" id="calcBill">
                Total: €
                <input type="text" name="txtBillAmt"/>
      </form>
            </div>
        </div>
        <div class="lulu">
         <form enctype="application/json" action="/post/json" method="post">
            <div class="form-group">
                <select class="form-control" name="sec_n">
                    <option value="0">ICE_CREAM</option>
                    <option value="1">DESSERT</option>
                    <option value="2">DONUTS</option>
                    <option value="3">CONFECTIONERY</option>
                    <option value="4">CUPCAKES</option>
                </select>
                <input class="form-control mt-3" type="text" name="item" placeholder="Item" required minlength="10" maxlength="50">minlength is 10 and maxlength is 50</input>
               
                <input class="form-control mt-3" type="int" name="price" placeholder="Price" required minlength="3.60" maxlength="10"></input>
                <button type="submit" class="LULU">Submit</button>
            </div>
            <div class="luco">
               <button id="delete" class="LUCO">Delete</button></div>
               <p>To delete an entree, click the required row first</p>
           </div>
        </form>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
